

body {
     
    background-color: LavenderBlush ;
    background-image: url(LogoLS.png);
    background-repeat: no-repeat; 
    background-position: right 30px top 20px; 
    background-size: 17%;
}


    
